:root {
  /*WHITE*/
  --white-bg-color: #fff;
  --white-secondary-color: rgb(247, 223, 223);
  --white-text-color: #000;
  --white-title-color: #000;

  /*DARK*/
  --dark-bg-color: #434343;
  --dark-text-color: #000;

  /*RED*/
  --red-bg-color: #ce8082;
  --red-text-color: #020202;

  /*GREEN 88ACA4*/
  --green-bg-color: rgb(51, 106, 94);
  --green-text-color: #020202;

  /* GRAY*/
  --gray-bg-color: rgb(169, 169, 169);
  --gray-text-color: #110d02;

  /*BLUE*/
  --blue-bg-color: #1495b6;
  --blue-text-color: #000;

  /*PURPLE*/
  --purple-bg-color: rgba(32, 23, 37, 0.9);
  --purple-text-color: #000;

  /*OLIVE*/
  --olive-bg-color: #8b927f;
  --olive-text-color: #000;
}
h1 {
  color: inherit;
}

a {
  color: inherit;
}

/* .kanban__column-items,
.kanban__item-input {
  color: inherit;
} */

[type="radio"] {
  position: fixed;
  left: -9999px;
}

label {
  cursor: pointer;
}

.fa-pen-to-square {
  color: #fff;
}

/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-wrapper {
  height: 100vh;
  overflow: auto;

  transition: all 0.3s ease-in-out;
}

.color-palette {
  top: 20px;
  display: flex;
  max-width: 21%;
  margin-bottom: 26px;
  gap: 27px;
  padding: 8px;
  border-radius: 20px;

  /* background: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(40px) saturate(180%);
  -webkit-backdrop-filter: blur(40px) saturate(195%);
  background-color: rgba(17, 25, 40, 0.2);

  border: 1px solid rgba(102, 100, 100, 0.125);
}

.color-palette label {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color-palette label::before {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
}

[id="dark"] ~ .page-wrapper [for="dark"] {
  background: var(--dark-bg-color);
}

[id="red"] ~ .page-wrapper [for="red"] {
  background: var(--red-bg-color);
}

[id="green"] ~ .page-wrapper [for="green"] {
  background: var(--green-bg-color);
}

[id="gray"] ~ .page-wrapper [for="gray"] {
  background: var(--gray-bg-color);
}

[id="blue"] ~ .page-wrapper [for="blue"] {
  background: var(--blue-bg-color);
}

[id="purple"] ~ .page-wrapper [for="purple"] {
  background: var(--purple-bg-color);
}

[id="olive"] ~ .page-wrapper [for="olive"] {
  background: var(--olive-bg-color);
}

/* CHECKBOX HACK STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[type="radio"]:checked ~ .page-wrapper label::before {
  display: block;
}
/* 
[id="white"]:checked ~ .kanban {
  color: var(--white-text-color);
  background: var(--white-bg-color);
}

[id="white"]:checked ~ .kanban [for="white"]::before {
  background: var(--white-text-color);
}
[id="white-title"]:checked ~ .kanban__column-title {
  color: var(--white-text-color);
}

[id="white-title"]:checked ~ .kanban__column-title [for="white"]::before {
  background: var(--white-text-color);
} */

[id="dark"]:checked ~ .page-wrapper {
  color: var(--dark-text-color);
  background: var(--dark-bg-color);
}

[id="dark"]:checked ~ .page-wrapper [for="dark"]::before {
  background: var(--dark-text-color);
}

[id="red"]:checked ~ .page-wrapper {
  color: var(--red-text-color);
  background: var(--red-bg-color);
}

[id="red"]:checked ~ .page-wrapper [for="red"]::before {
  background: var(--red-text-color);
}

[id="green"]:checked ~ .page-wrapper {
  color: var(--green-text-color);
  background: var(--green-bg-color);
}

[id="green"]:checked ~ .page-wrapper [for="green"]::before {
  background: var(--green-text-color);
}

[id="gray"]:checked ~ .page-wrapper {
  color: var(--gray-text-color);
  background: var(--gray-bg-color);
}

[id="gray"]:checked ~ .page-wrapper [for="gray"]::before {
  background: var(--gray-text-color);
}

[id="blue"]:checked ~ .page-wrapper {
  color: var(--blue-text-color);
  background: var(--blue-bg-color);
}

[id="blue"]:checked ~ .page-wrapper [for="blue"]::before {
  background: var(--blue-text-color);
}

[id="purple"]:checked ~ .page-wrapper {
  color: var(--purple-text-color);
  background: var(--purple-bg-color);
}

[id="purple"]:checked ~ .page-wrapper [for="purple"]::before {
  background: var(--purple-text-color);
}

[id="olive"]:checked ~ .page-wrapper {
  color: var(--olive-text-color);
  background: var(--olive-bg-color);
}

[id="olive"]:checked ~ .page-wrapper [for="olive"]::before {
  background: var(--olive-text-color);
}

/* title and color picker Mobile Queries */
@media (max-width: 830px) {
  .color-palette {
    display: flex;

    justify-content: space-between;
    top: 70px;
    right: 20px;
    gap: 10px;
    padding: 8px;
  }

  .kanban__column-title {
    padding-top: 8px;
  }

  h3 {
    padding: 0 10px 10px 10px;
  }
}
@media (max-width: 420px) {
  .color-palette {
    display: flex;
    justify-content: space-between;
    top: 65px;
    right: 65px;
    gap: 10px;
    padding: 8px;
    max-width: 40%;
  }
  .kanban__column:not(:last-child) {
    margin-right: 0px;
  }
}
@media (max-width: 860px) and (orientation: landscape) {
  .color-palette {
    display: flex;
    justify-content: space-between;
    top: 65px;
    right: 65px;
    gap: 10px;
    padding: 8px;
    max-width: 30%;
  }
}
